In [41]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
df = pd.read_csv("datapreprocessing/csv/NCR_LBFS_DATA(2000-2020).csv")

#df.isnull().sum()

Year                 0
Month                0
TotalPopulation     17
Unemployed          17
Employed            17
UnemploymentRate    17
EmploymentRate      17
dtype: int64

In [43]:
df

,Year,Month,TotalPopulation,Unemployed,Employed,UnemploymentRate,EmploymentRate
0,2000,January,4539.0,703.0,3836.0,15.5,84.6
1,2000,April,4503.0,837.0,3666.0,18.6,81.5
2,2000,July,4363.0,751.0,3612.0,17.3,82.8
3,2000,October,4307.0,765.0,3542.0,17.8,82.3
4,2001,January,4492.0,805.0,3687.0,18.0,82.1
...,...,...,...,...,...,...,...
79,2019,October,NaN,NaN,NaN,NaN,NaN
80,2020,January,NaN,NaN,NaN,NaN,NaN
81,2020,April,5385.0,665.0,4720.0,12.4,87.7
82,2020,July,NaN,NaN,NaN,NaN,NaN
83,2020,October,NaN,NaN,NaN,NaN,NaN

In [44]:
#df['TotalPopulation'] = df['TotalPopulation'].interpolate()
#df['Unemployed'] = df['Unemployed'].interpolate()
#df['Employed'] = df['Employed'].interpolate()
#df['UnemploymentRate'] = df['UnemploymentRate'].interpolate()
#df['EmploymentRate'] = df['EmploymentRate'].interpolate()
df.round()