In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
#Remove records beyond 2016
df = pd.read_csv("datapreprocessing/csv/NCR_LBFS_DATA(2000-2020).csv")
df1 = df.loc[df["Year"] <2016 ]
df1

#df.isnull().sum()

,Year,Month,TotalPopulation,Unemployed,Employed,UnemploymentRate,EmploymentRate
0,2000,January,4539.0,703.0,3836.0,15.5,84.6
1,2000,April,4503.0,837.0,3666.0,18.6,81.5
2,2000,July,4363.0,751.0,3612.0,17.3,82.8
3,2000,October,4307.0,765.0,3542.0,17.8,82.3
4,2001,January,4492.0,805.0,3687.0,18.0,82.1
...,...,...,...,...,...,...,...
59,2014,October,5296.0,519.0,4777.0,9.8,90.3
60,2015,January,5151.0,478.0,4673.0,9.3,90.8
61,2015,April,5194.0,485.0,4709.0,9.4,90.7
62,2015,July,5262.0,431.0,4831.0,8.2,91.9
63,2015,October,5166.0,370.0,4796.0,7.2,92.9

In [ ]:
#interpolate missing data
#df['TotalPopulation'] = df['TotalPopulation'].interpolate()
#df['Unemployed'] = df['Unemployed'].interpolate()
#df['Employed'] = df['Employed'].interpolate()
#df['UnemploymentRate'] = df['UnemploymentRate'].interpolate()
#df['EmploymentRate'] = df['EmploymentRate'].interpolate()

#round decimal values
df.round()